
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM PROPERTIES */

:root {
    /* Colors */
    --clr-dark-blue: #011EA0;
    --clr-gold: #a29161;
    --clr-black: #000;
    --clr-white: #fff;

    --clr-vampire-black: #040707;
    --clr-light-blue: #1266AB;

    --clr-lighter-blue: #30BCED;

    --clr-gold-light: hsl(from var(--clr-gold) 40 90% 60%);

    --clr-yellow: hsl(57, 92%, 51%);

    /* Typography */
    --ff-calistoga: 'Calistoga', serif;
    --ff-suez-one: 'Suez One', serif;
    --ff-yeseva-one: 'Yeseva One', serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;
    --ff-bebaus-neue: 'Bebas Neue', sans-serif;
    --ff-times-new-roman: 'Times New Roman', serif;

    --fw-700: 700;

}

/* Utilities */

.flow > * + * {
  --flow-space: 2em;
  margin-top: var(--flow-space, 1em);
}

/* Components */

.section__heading__title {
  margin-block: 2rem 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .2em;
}

/* General Styling */

body {
  background: linear-gradient(45deg, var(--clr-dark-blue) 10%, var(--clr-vampire-black));
  color: var(--clr-yellow);
  font-family: var(--ff-yeseva-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}

.main {
  max-width: 60rem;
  padding: 2rem;
}

.main-heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .2em;
}

.tagline {
  color: var(--clr-lighter-blue);
  font-family: var(--ff-calistoga);
  --flow-space: 1em;
}

.badges {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 1rem 4rem;
}

@media (min-width: 40rem) {
  .badges {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.badge {
  width: 8rem;
  margin: 2rem auto 1rem auto;
}


.players {
  --flow-space: 3em;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-block: 2rem;
  padding-block: 1rem 2rem;
}

@media (min-width: 40rem) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: var(--ff-bebaus-neue);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .5);
}

.card__image__wrapper {
  border-radius: 10px;
  grid-row: 1 / 3;
  width: 100%;
}

.card__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__text {
  padding-block: 2rem;
  grid-row: 3 / 4;
  background-color: var(--clr-vampire-black);
}

.card__heading {
  letter-spacing: .1em;
  font-size: clamp(2rem, 3vw, 3rem);
}

.card__paragraph {
  --flow-space: .5em;
  font-size: 1.3rem;
  color: var(--clr-lighter-blue);
}

.card__list {
  padding-inline: 4rem;
  font-size: 1.2rem;
  line-height: 1.4;
}


.card__list__item {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.card__list__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
